@model e_commerce.Web.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>Change Password</h3>

@if (ViewBag.PasswordMessage != null)
{
    <div class="alert alert-success">@ViewBag.PasswordMessage</div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<form asp-action="ChangePassword" method="post" class="form grid">
    <input asp-for="CurrentPassword" type="password" class="form__input" placeholder="Current Password" />
    <span asp-validation-for="CurrentPassword" class="text-danger"></span>

    <input asp-for="NewPassword" type="password" class="form__input" placeholder="New Password" />
    <span asp-validation-for="NewPassword" class="text-danger"></span>

    <input asp-for="ConfirmNewPassword" type="password" class="form__input" placeholder="Confirm Password" />
    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

    <div class="form__btn">
        <button type="submit" class="btn">Change Password</button>
    </div>
</form>
