@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Email Confirmed</h2>
<p>Your new email has been successfully updated!</p>

<a href="/MyAccount/UpdateProfile" class="btn btn-primary">Back to Profile</a>
